/*********************************************

This is the css used for the whole site basically.
I am shit at css so that's why it looks like this
(also I figured if I keep it basic it will stop
me from getting distracted while writing this)

**********************************************/

body {
    font-family: Baskerville, "Times New Roman", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin-left: 8%;
    margin-right: 8%;
    
}
